.gallary{
    width: 100%;
    column-count: 3;
    column-width: 33%;
    /* padding:0 12px; */
    max-width: 100vw;
    
}


.portfolio_gallary_img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    padding-top: 15px;
    border:2px solid white

}


@media (max-width: 1300px) {
.gallary{
    column-count: 2;
    column-width: 48%;
}
    
}

@media (max-width: 700px) {
    .gallary{
        column-count: 1;
        column-width: 100%;
    }
        
    }
    